<h1>Forma de pago</h1>
<h2>
    <input type="radio" value="forma-efectivo">
    <label for="forma-efectivo">Efectivo</label>
    <input type="radio" value="forma-tarjeta">
    <label for="forma-tarjeta">Tarjeta</label>
</h2>


<form [formGroup]="FormFormaPago" >
    <div class="form-group">
      <label style="color: white" > Efectivo </label>
      <input type="radio" class="form-control" formControlName="Efectivo" id="efectivo" name="efectivo" [(ngModel)]="Efectivo">
      <div *ngIf="FormFormaPago.controls['Efectivo'].invalid && FormFormaPago.controls['Efectivo'].dirty"
           class="alert alert-danger" role="alert">
        Este campo es obligatorio!
      </div>
    </div>
  </form>


