<div class="container-fluid">
    <h1>
      <u>
        Forma de pago
      </u>
    </h1>
  <form [formGroup]="FormFormaPago">

    <!-- Forma Pago -->
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label"
          >Forma de Pago<span class="text-danger">*</span>:</label
        >
      </div>
      <div class="col-6">
        <div class="custom-control custom-radio" *ngFor="let fp of FormasPagos">
          <input
            class="custom-control-input"
            type="radio"
            name="FormaPago"
            value="{{ fp.Nombre }}"
            id="{{ 'FormaPago' + fp.Nombre }}"
            formControlName="FormaPago"
            (click)="seleccionandoFormaPago(fp)"
            [ngClass]="{
              'is-invalid':
                (FormFormaPago.controls['FormaPago'].touched || submitted) &&
                FormFormaPago.controls['FormaPago'].errors
            }"
          />
          <label
            class="custom-control-label"
            for="{{ 'FormaPago' + fp.Nombre }}"
          >
            {{ fp.Nombre }}
          </label>
        </div>

        <div
          class="validacion"
          *ngIf="
            (FormFormaPago.controls['FormaPago'].touched || submitted) &&
            FormFormaPago.controls['FormaPago'].errors?.['required']"
          >
          Dato requerido.
        </div>

      </div>
    </div>
  </form>
<!-- Pago efectivo-->
  
  <form [formGroup]="FormFormaPagoEfectivo" class="form-group" *ngIf="formaPagoSeleccionado?.sosEfectivo()">
    <h2>
      <legend><u>Efectivo</u></legend>
    </h2>
        <!--Monto a pagar-->
        <div class="row">
          <div class="col-sm-4 col-md-3 offset-md-1">
            <label class="col-form-label" for="MontoPagar">
              Monto a Pagar<span class="text-danger">*</span>:
            </label>
          </div>
          <div class="col-sm-8 col-md-6">
            <input
              type="text"
              name="MontoPagar"
              class="form-control inputMedio"
              formControlName="MontoPagar"
              [ngClass]="{
              'is-invalid':
                (FormFormaPagoEfectivo.controls['MontoPagar'].touched || submitted) &&
                FormFormaPagoEfectivo.controls['MontoPagar'].errors,
              'is-valid': FormFormaPagoEfectivo.controls['MontoPagar'].valid
            }"
          />
          <div
                class="validacion"
                *ngIf="
                  (FormFormaPagoEfectivo.controls['MontoPagar'].touched || submitted) &&
                  FormFormaPagoEfectivo.controls['MontoPagar'].errors?.['required']
                "
              >
                Dato requerido.
              </div>
              <div
                class="validacion"
                *ngIf="FormFormaPagoEfectivo.controls['MontoPagar'].errors?.['pattern']"
              >
                Dato numérico, 2 a 9 dígitos.
              </div>
    
          </div>
        </div>
        <p align="center">
          <button class="btn btn-success" (click)="mostrarPedido()" [disabled]="!FormFormaPagoEfectivo.valid">Finalizar Pedido</button>
        </p>
  </form>

<!-- Pago con Tarjeta-->
  <form [formGroup]="FormFormaPagoTarjeta" class="form-group" *ngIf="formaPagoSeleccionado?.sosTarjeta()">
    <h2>
      <legend><u>Datos de la tarjeta</u></legend>
    </h2>
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="NumeroTarjeta">
          Numero Tarjeta<span class="text-danger">*</span>:
        </label>
      </div>
      <div class="col-sm-8 col-md-6">
        <input
          type="text"
          name="NumeroTarjeta"
          class="form-control inputMedio"
          formControlName="NumeroTarjeta"
          maxlength="16"
          [ngClass]="{
          'is-invalid':
            (FormFormaPagoTarjeta.controls['NumeroTarjeta'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['NumeroTarjeta'].errors,
          'is-valid': FormFormaPagoTarjeta.controls['NumeroTarjeta'].valid
        }"
        />
        <div
          class="validacion"
          *ngIf="(FormFormaPagoTarjeta.controls['NumeroTarjeta'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['NumeroTarjeta'].errors?.['required']"
          >
          Dato requerido.
        </div>
        <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['NumeroTarjeta'].errors?.['pattern']"
          >
          Ingrese un dato numérico.
        </div>
        <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['NumeroTarjeta'].errors?.['min']"
          >
          El numero debe ser de 16 digitos.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="NombreTarjeta">
          Nombre y apellido Titular (Como aparece en la tarjeta)<span class="text-danger">*</span>:
        </label>
      </div>
      <div class="col-sm-8 col-md-6">
        <input
          type="text"
          name="NombreTarjeta"
          class="form-control inputMedio"
          formControlName="NombreTarjeta"
          maxlength="40"
          [ngClass]="{
          'is-invalid':
            (FormFormaPagoTarjeta.controls['NombreTarjeta'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['NombreTarjeta'].errors,
          'is-valid': FormFormaPagoTarjeta.controls['NombreTarjeta'].valid
        }"
        />
        <div
          class="validacion"
          *ngIf="(FormFormaPagoTarjeta.controls['NombreTarjeta'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['NombreTarjeta'].errors?.['required']"
          >
          Dato requerido.
        </div>
      </div>
    </div>

    <!-- Fecha de Vencimiento -->
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="FechaVencimiento">
          Fecha Vencimiento (MM/AA)<span class="text-danger">*</span>:
        </label>
      </div>
      <div class="col-sm-1half col-md-1half">
        <input
          type="text"
          name="FechaVencimientoMes"
          class="form-control inputChico"
          formControlName="FechaVencimientoMes"
        />
      </div><h4 class="barraFechas">/</h4>
      <div class="col-sm-1 col-md-1">
        <input
          type="text"
          name="FechaVencimientoAnio"
          class="form-control inputChico"
          formControlName="FechaVencimientoAnio"
        />
      </div>
    </div>

   <!-- CVC -->
   <div class="row">
    <div class="col-sm-4 col-md-3 offset-md-1">
      <label class="col-form-label" for="cvc">
        CVC (Código de Seguridad)<span class="text-danger">*</span>:
      </label>
    </div>
    <div class="col-sm-8 col-md-6">
      <input
        type="text"
        name="cvc"
        class="form-control inputMedio"
        formControlName="cvc"
        maxlength="3"
        [ngClass]="{
        'is-invalid':
          (FormFormaPagoTarjeta.controls['cvc'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['cvc'].errors,
        'is-valid': FormFormaPagoTarjeta.controls['cvc'].valid
      }"
      />
      <div
        class="validacion"
        *ngIf="(FormFormaPagoTarjeta.controls['cvc'].touched || submitted) &&
        FormFormaPagoTarjeta.controls['cvc'].errors?.['required']"
        >
        Dato requerido.
      </div>
      <div
        class="validacion"
        *ngIf="FormFormaPagoTarjeta.controls['cvc'].errors?.['pattern']"
        >
        Ingrese un dato numérico de 3 caracteres.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>
      Total a pagar: $ {{pedido.monto}}
      <!-- <input type="text" disabled [value]="pedido.monto"> -->
    </label>
  </div>
  <p align="center">
    <button class="btn btn-success" (click)="mostrarPedido()" [disabled]="!FormFormaPagoTarjeta.valid">Finalizar Pedido</button>
  </p>
  </form>
</div>





