<div class="background m-3">
  <form [formGroup]="FormFormaPago">
    <div class="container-fluid">
      <div class="row">
        <div>
          <h3>Forma de pago</h3>
        </div>
      </div>
      <p align="right"><button class="btn-volver" (click)="volver()">Volver</button></p>
    </div>
    <!-- Forma Pago -->
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1 justify-content-center" id="monto-total">
        <span>
          Total a pagar: $ {{monto}}
        </span>
      </div>
      <div class="col-sm-2 col-md-2">
        <label class="col-form-label">
          Forma de Pago
          <span class="text-danger">
            *
          </span>
          :  
        </label>
      </div>
      <div>
        <div class="custom-control custom-radio" *ngFor="let fp of FormasPagos">
          <input
            class="custom-control-input col-md-1half col-sm-1half"
            type="radio"
            name="FormaPago"
            value="{{ fp.Nombre }}"
            id="{{ 'FormaPago' + fp.Nombre }}"
            formControlName="FormaPago"
            (click)="seleccionandoFormaPago(fp)"
            [ngClass]="{
              'is-invalid':
                (FormFormaPago.controls['FormaPago'].touched || submitted) &&
                FormFormaPago.controls['FormaPago'].errors
            }"
          />
          <label
            class="custom-control-label"
            for="{{ 'FormaPago' + fp.Nombre }}"
          >
            {{ fp.Nombre }}
          </label>
        </div>

        <div
          class="validacion"
          *ngIf="
            (FormFormaPago.controls['FormaPago'].touched || submitted) &&
            FormFormaPago.controls['FormaPago'].errors?.['required']"
          >
          Dato requerido.
        </div>
      </div>
      
    </div>
  </form>
<!-- Pago efectivo-->
  
  <form [formGroup]="FormFormaPagoEfectivo" class="form-group" 
  *ngIf="formaPagoSeleccionado?.sosEfectivo()" class="backgroundFormaPago">
    <h2>
      <div class="row justify-content-center">
        <h2><u>Efectivo</u></h2>
      </div>
    </h2>
        <!--Monto a pagar-->
        <div class="row">
          <div class="col-sm-4 col-md-3 offset-md-1">
            <label class="col-form-label" for="MontoPagar">
              Monto a Pagar<span class="text-danger">*</span>:
            </label>
          </div>
          <div class="col-sm-8 col-md-6">
            <input
              type="text"
              name="MontoPagar"
              class="form-control inputMedio"
              formControlName="MontoPagar"
              [ngClass]="{
              'is-invalid':
                (FormFormaPagoEfectivo.controls['MontoPagar'].touched || submitted) &&
                FormFormaPagoEfectivo.controls['MontoPagar'].errors,
              'is-valid': FormFormaPagoEfectivo.controls['MontoPagar'].valid
            }"
            />
            <div
              class="validacion"
              *ngIf="
              (FormFormaPagoEfectivo.controls['MontoPagar'].touched || submitted) &&
              FormFormaPagoEfectivo.controls['MontoPagar'].errors?.['required']"
            >
            Dato requerido.
            </div>
            <div
            class="validacion"
            *ngIf="FormFormaPagoEfectivo.controls['MontoPagar'].errors?.['pattern']"
            >
            Dato numérico, 2 a 9 dígitos.
            </div>
            <div
            class="validacion"
            *ngIf="FormFormaPagoEfectivo.controls['MontoPagar'].errors?.['min']"
            >
            El numero debe ser igual o mayor al monto total a pagar. 
            </div>
          </div>
        </div>
      <div class="row justify-content-center botones">
        <button class="btn btn-success" (click)="finalizarPedido()"
        data-toggle="modal" data-target="#modalFinalizar" [disabled]="!FormFormaPagoEfectivo.valid">Finalizar Pedido</button>
      </div>
  </form>

<!-- Pago con Tarjeta-->
  <form [formGroup]="FormFormaPagoTarjeta" class="form-group" 
  *ngIf="formaPagoSeleccionado?.sosTarjeta()" class="backgroundFormaPago">
    <h2>
      <div class="row justify-content-center">
        <h2><u>Datos de la tarjeta</u></h2>
      </div>
    </h2>
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="numeroTarjeta">
          Numero Tarjeta<span class="text-danger">*</span>:
        </label>
      </div>
      <div class="col-sm-8 col-md-6">
        <input
          type="text"
          name="numeroTarjeta"
          class="form-control inputMedio"
          formControlName="numeroTarjeta"
          maxlength="16"
          [ngClass]="{
          'is-invalid':
            (FormFormaPagoTarjeta.controls['numeroTarjeta'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['numeroTarjeta'].errors,
          'is-valid': FormFormaPagoTarjeta.controls['numeroTarjeta'].valid
        }"
        />
        <div
          class="validacion"
          *ngIf="(FormFormaPagoTarjeta.controls['numeroTarjeta'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['numeroTarjeta'].errors?.['required']"
          >
          Dato requerido.
        </div>
        <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['numeroTarjeta'].errors?.['pattern']"
          >
          Debe ser un dato numérico válido.
        </div>
        <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['numeroTarjeta'].errors?.['min']"
          >
          El numero debe ser de 16 digitos.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="nombreYApellidoTitular">
          Nombre y apellido Titular (Como aparece en la tarjeta)<span class="text-danger">*</span>:
        </label>
      </div>
      <div class="col-sm-8 col-md-6">
        <input
          type="text"
          name="nombreYApellidoTitular"
          class="form-control inputMedio"
          formControlName="nombreYApellidoTitular"
          maxlength="40"
          [ngClass]="{
          'is-invalid':
            (FormFormaPagoTarjeta.controls['nombreYApellidoTitular'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['nombreYApellidoTitular'].errors,
          'is-valid': FormFormaPagoTarjeta.controls['nombreYApellidoTitular'].valid
        }"
        />
        <div
          class="validacion"
          *ngIf="(FormFormaPagoTarjeta.controls['nombreYApellidoTitular'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['nombreYApellidoTitular'].errors?.['required']"
          >
          Dato requerido.
        </div>
      </div>
    </div>

    <!-- Fecha de Vencimiento -->
    <div class="row">
      <div class="col-sm-4 col-md-3 offset-md-1">
        <label class="col-form-label" for="FechaVencimiento">
          Fecha Vencimiento (MM/AA)<span class="text-danger">*</span>:
        </label>
      </div>

      <div class="input-group col-sm-4 col-md-3">
        <input type="text" (change)="validarMesAnio()" class="form-control" placeholder="Mes" aria-label="Mes"
          formControlName="FechaVencimientoMes"
          maxlength="2"
          [ngClass]="{
            'is-invalid':
              (FormFormaPagoTarjeta.controls['FechaVencimientoMes'].touched || submitted) &&
              (FormFormaPagoTarjeta.controls['FechaVencimientoMes'].errors || fechaVencimientoNOValida),
            'is-valid': FormFormaPagoTarjeta.controls['FechaVencimientoMes'].valid}"
        >

        <span class="input-group-text">/</span>

        <input type="text" (change)="validarMesAnio()" class="form-control" placeholder="Año" aria-label="Año"
          formControlName="FechaVencimientoAnio"
          maxlength="4"
          minlength="4"
          [ngClass]="{
            'is-invalid':
              (FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].touched || submitted) &&
              (FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].errors || fechaVencimientoNOValida),
            'is-valid': FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].valid}"
          >
      </div>


      <div class="col-sm-4 col-md-3">
          <div
            class="validacion"
            *ngIf="(FormFormaPagoTarjeta.controls['FechaVencimientoMes'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['FechaVencimientoMes'].errors?.['FechaVencimientoMes']"
            >
            Dato requerido.
          </div>
          <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['FechaVencimientoMes'].errors?.['pattern']"
          >
          Ingrese un número del 1 al 12.
        </div>

        <div
            class="validacion"
            *ngIf="(FormFormaPagoTarjeta.controls['FechaVencimientoMes'].touched || submitted) &&
             fechaVencimientoNOValida"
            >
            Fecha de Vencimiento no Correcta.
          </div>

        <!-- Validación del año -->
        <div
            class="validacion"
            *ngIf="(FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].touched || submitted) &&
            FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].errors?.['FechaVencimientoAnio']"
            >
            Dato requerido.
          </div>
          <div
          class="validacion"
          *ngIf="FormFormaPagoTarjeta.controls['FechaVencimientoAnio'].errors?.['pattern']"
          >
          Ingrese un número válido de año.
        </div>
      </div>
    </div>




   <!-- CVC -->
   <div class="row">
    <div class="col-sm-4 col-md-3 offset-md-1">
      <label class="col-form-label" for="cvc">
        CVC (Código de Seguridad)<span class="text-danger">*</span>:
      </label>
    </div>
    <div class="col-sm-8 col-md-6">
      <input
        type="text"
        name="cvc"
        class="form-control inputChico"
        formControlName="cvc"
        maxlength="3"
        [ngClass]="{
        'is-invalid':
          (FormFormaPagoTarjeta.controls['cvc'].touched || submitted) &&
          FormFormaPagoTarjeta.controls['cvc'].errors,
        'is-valid': FormFormaPagoTarjeta.controls['cvc'].valid
      }"
      />
      <div
        class="validacion"
        *ngIf="(FormFormaPagoTarjeta.controls['cvc'].touched || submitted) &&
        FormFormaPagoTarjeta.controls['cvc'].errors?.['required']"
        >
        Dato requerido.
      </div>
      <div
        class="validacion"
        *ngIf="FormFormaPagoTarjeta.controls['cvc'].errors?.['pattern']"
        >
        Ingrese un dato numérico de 3 caracteres.
      </div>
    </div>
  </div>
  <div class="row justify-content-center botones">
    <button class="btn btn-success" (click)="finalizarPedido()" 
    data-toggle="modal" data-target="#modalFinalizar"
    [disabled]="!FormFormaPagoTarjeta.valid">Finalizar Pedido</button>
  </div>
  </form>
</div>

<div class="modal fade" id="modalFinalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tu pedido fue realizado con éxito!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="https://giphy.com/embed/l3V0lsGtTMSB5YNgc" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thedudeperfectshow-cmt-the-dude-perfect-show-l3V0lsGtTMSB5YNgc">via GIPHY</a></p>
      </div>
    </div>
  </div>
</div>

