<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">DeliverEat!</a>
      <a class="navbar-brand">Pedido "Lo que sea"</a>
      <a class="navbar-brand">
        <i class="fa fa-user-circle" aria-hidden="true">
        </i></a>
    </div>
  </nav>
<div class="container">
    <datos-pedido (onContinuar)="tomarDatosPedido($event)" *ngIf="mostrarDatosPedido"></datos-pedido>
    <direcciones (onContinuar)="tomarDatosDireccion($event)" *ngIf="mostrarDatosDireccion"></direcciones>
    <app-forma-pago (onContinuar)="tomarDatosPago($event)" *ngIf="mostrarDatosPago"></app-forma-pago>
</div>


