form{
    padding: 20px;
    background-color: #5D3A00;
    border-radius: 20px;
    color: white;
}
textarea{
    margin-bottom: 1em;
}
.btn-pink{
    border: 2px dashed white;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

.btn-pink:hover{
    background-color: black;
    color: #D9D9D9;
}

