
  <form nombre="FormDirecciones"
        class="bg-ligth" 
        [formGroup]="FormDirecciones">

    <div class="class container-fluid" >
    <div class="form-row justify-content-center" >
      <!-- Parte de la dirección del comercio -->
      <h4>Dirección del comercio a retirar</h4>

      <!-- Ciudad -->
      <div class="col-9">      
        <select id="CiudadComercio" class="form-control" formControlName="CiudadComercio">
          <option selected>Córdoba</option>
          <option>Alta Gracia</option>
        </select>
      </div>

      <!-- Botón del mapa comercio a retirar -->
      <div class="col-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="AbrirMapaComercio()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
      </div>

      <!-- Calle comercio a retirar -->
      <div class="col-9">
        <label for="CalleComercio">Calle</label>
        <input type="text" id="calleComercio" class="form-control" placeholder="San Jerónimo" formControlName="CalleComercio">

        <!-- Validadores -->
        <div
          class="text-danger"
          *ngIf="
            (FormDirecciones.controls['CalleComercio'].touched || submitted) &&
            FormDirecciones.controls['CalleComercio'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['CalleComercio'].hasError('minlength')"
        >
          Se debe ingresar al menos un carácter.
        </div>
      </div>

      <!-- Número comercio a retirar -->
      <div class="col-3">
        <label for="NumeroComercio">Altura</label>
        <input type="number" class="form-control" placeholder="1234" formControlName="NumeroComercio">

        <!-- Validadores -->
        <div
          class="text-danger"
          *ngIf="
            (FormDirecciones.controls['NumeroComercio'].touched || submitted) &&
            FormDirecciones.controls['NumeroComercio'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['NumeroComercio'].hasError('maxlength')"
        >
          La longitud máxima es de 5 carácteres.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['NumeroComercio'].hasError('min')"
        >
          Solo se aceptan valores mayores a 0.
        </div>
      </div>

      <!-- Referencia comercio a retirar -->
      <div class="col">
        <label for="ReferenciaComercio">Referencia ubicación (opcional)</label>
        <textarea
            rows="5"
            class="form-control"
            formControlName="ReferenciaComercio" 
            maxlength="500"
            placeholder="Entre calle 'x' y calle 'y' "
          ></textarea>
      </div>
    </div>
  </div>


  <!-- Parte de dirección de envío -->
  <div class="class container-fluid">
    <div class="form-row justify-content-center">

      <h4>Dirección de envío</h4>

      <!-- Ciudad dirección de envío -->
      <div class="col-9">        
        <select id="CiudadEnvio" class="form-control" formControlName="CiudadEnvio">
          <option selected>Córdoba</option>
          <option>Alta Gracia</option>
        </select>
      </div>

      <!-- Boton mapa dirección envio -->
      <div class="col-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCasa" (click)="AbrirMapaCasa()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
      </div>

      <!-- Calle envío -->
      <div class="col-9">
        <label for="CalleEnvio">Calle</label>
        <input type="text" class="form-control" placeholder="San Jerónimo" formControlName="CalleEnvio">

        <!-- Validadores -->
        <div
          class="text-danger"
          *ngIf="
            (FormDirecciones.controls['CalleEnvio'].touched || submitted) &&
            FormDirecciones.controls['CalleEnvio'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['CalleEnvio'].hasError('minlength')"
        >
          Se debe ingresar al menos un carácter.
        </div>
      </div>

      <!-- Numero Envio -->
      <div class="col-3">
        <label for="NumeroEnvio">Altura</label>
        <input type="number" class="form-control" placeholder="1234" formControlName="NumeroEnvio">

        <!-- Validadores -->
        <div
          class="text-danger"
          *ngIf="
            (FormDirecciones.controls['NumeroEnvio'].touched || submitted) &&
            FormDirecciones.controls['NumeroEnvio'].hasError('required')
          "
        >
          Dato requerido.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['NumeroEnvio'].hasError('maxlength')"
        >
          La longitud máxima es de 5 carácteres.
        </div>
        <div
          class="text-danger"
          *ngIf="FormDirecciones.controls['NumeroEnvio'].hasError('min')"
        >
          Solo se aceptan valores mayores a 0.
        </div>
      </div>

      <!-- Referencia Envio -->
      <div class="col">
        <label for="ReferenciaEnvio">Referencia ubicación (opcional)</label>
        <textarea
            rows="5"
            class="form-control"
            formControlName="ReferenciaEnvio" 
            maxlength="500"
            placeholder="Entre calle 'x' y calle 'y' "
          ></textarea>
      </div>
    </div>
  </div>

  <!-- Boton Aceptar -->
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="Aceptar()">
      <i class="fa fa-check"></i> Aceptar
    </button>
  </div>
  </form>

<!-- Modal Mapa Comercio-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar ubicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="\assets\imagenes\mapa.jpeg" style="height: 50%; width:100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Mapa Casa-->
<div class="modal fade" id="ModalCasa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar ubicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="\assets\imagenes\casa.jpeg" style="height: 50%; width:100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

  